

<html>
	<head>
		<title>pradeep home page web</title>



	</head>

	<body>

		<div> <p>This is Home Page and this web app created by Pradeep Singh</p>
		<p>Please <a href="fibo">Click Here</a> to find fibo series</p>
    <p>Please <a href="search">Click Here</a> to move Autosearch complete page</p>
		</div>
		
  		<!-- <nav>
    		<div class="nav-wrapper">
      		<a href="#" class="brand-logo">About</a>
      		<ul id="nav-mobile" class="right hide-on-med-and-down">
      			{% if user.is_authenticated %}
      			 	<li><a href="/account">{{user.username}}</a></li>
        		<li><a href="/logout">Loguot</a></li>
        		<li><a href="/news">news</a></li>
        		{% else %}
        		<li><a href="/register">register</a></li>
        		<li><a href="/login">login</a></li>
        		<li><a href="/news">news</a></li>
        		{% endif %}
      		</ul>
    		</div>
  		</nav> -->

		{% if messages %}
			{% for message in messages %}
				<P> {{message}}</P>
			{% endfor %}
		{% endif %}        
		



	</body>







</html>



