





{% block content %}
    <form method="POST">
    	{% csrf_token %}
    	 {{form.as_p}}
    	 <button class="btn" type="submit" >Login </button>
    </form>	 
   if you don't have an account, <a href="/register"><strong>Register</strong></a>
{% endblock %}    