


{% block content %}
    <form method="POST">
    	{% csrf_token %}
    	 {{form.as_p}}
    	 <button class="btn" type="submit" >signUp </button>
    </form>	 
   if you already have an account, <a href="/login"><strong>LOGIN</strong></a>
{% endblock %}    