
{% load static %}




<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AutoSearch Complete box</title>
  <link href="style.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>  



<form action="" method="GET">
<div class="ui-widget">
  <label for="tags">Search: </label>
  <input id="tags" name="search">
  <button>Submit</button><br>
  <p>frequency output</p> {{output}}

  <P><a href="/search">click Here</a> to search more data result</P>
  <P><a href="/">click Here</a> to go Home page</P>
  
</div>
</form>


</body>

<script>
    $( function() {
    var availableColleges = [
      {% for clg in frequency %}
          "{{clg}}",
      {%endfor%}
    ];
    $( "#tags" ).autocomplete({
      source: availableColleges
    });
  } );
 
</script>

</html>

