{% for tut in tutorials %}
    <p>{{tut.tutorial_title}}</p>
    <p>{{tut.tutorial_published}}</p>
    <p>{{tut.tutorial_content | safe}}</p>  <!-- safe print string without tag info -->
    <br><br>
{% endfor %}